.container {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  flex-wrap: wrap;
  padding: 20px;
}

.title {
  font-size: 50px;
  font-weight: bold;
  color: white;
  /* background: -webkit-linear-gradient(rgb(200, 250, 64), white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  text-transform: uppercase;
}

button {
  width: 80px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  color: black;
  background-color: white;
  transition: all 0.5s;
  border: none;
  box-shadow: 3px 6px 10px 1px rgb(252, 251, 251);
  cursor: pointer;
  outline: none;
}

button:hover {
  color: yellow;
  background-color: black;
  box-shadow: -3px 6px 10px 1px rgb(244, 252, 142);
  transition: all 0.6s ease-out;
}

button:active {
  transform: scale(1.2);
  transform: translateY(-4px);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

button:focus {
  border: 2px solid greenyellow;
}

.buttons {
  display: flex;
  gap: 10px;
  margin: 10px;
}

.counter {
  display: flex;
  gap: 50px;
  margin: 10px;
  padding-top: 20px;
  padding-bottom: 0px;
}

.time {
  color: rgb(240, 250, 104);
  font-size: 70px;
  font-weight: bolder;
}
.attributes {
  color: aliceblue;
  font-size: 20px;
  text-transform: lowercase;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 30px;
  }

  .time {
    font-size: 40px;
  }

  .attributes {
    font-size: 15px;
  }

  button {
    width: 80px;
  }
}
